/*!
=========================================================
Zest Admin React - v1.0.0
 * Product Page: https://themeforest.net/user/themepassion/portfolio
 * Copyright 2019 thempassion
=========================================================

 */

/*101*/
@import 'zest-admin/variables';
/*102*/
@import 'zest-admin/mixins';

// Plugins CSS
/*103*/
@import 'zest-admin/plugins/plugin-animate-bootstrap-notify';
/*104*/
@import 'zest-admin/plugins/plugin-perfect-scrollbar';

// Core CSS
/*105*/
@import 'zest-admin/misc';

// components
/*106*/
@import 'zest-admin/navbar';
/*107*/
@import 'zest-admin/dropdown';

/*108*/
@import 'zest-admin/images';

/*109*/
@import 'zest-admin/sidebar-and-main-panel';
/*110*/
@import 'zest-admin/footers';
/*111*/
@import 'zest-admin/pagesections';

/*112*/
@import 'zest-admin/responsive';

// Zest Admin
/*1*/
@import 'zest-admin/_general';
/*2*/
@import 'zest-admin/_typography';
/*3*/
@import 'zest-admin/_sidebar';
/*4*/
@import 'zest-admin/_progress';
/*5*/
@import 'zest-admin/_tooltips';
/*6*/
@import 'zest-admin/_popovers';
/*7*/
@import 'zest-admin/_calendar';
/*8*/
@import 'zest-admin/_timeline';
/*9*/
@import 'zest-admin/_pricingtables';
/*10*/
@import 'zest-admin/_vectormap';
/*11*/
@import 'zest-admin/_dropzone';
/*12*/
@import 'zest-admin/_icons';
/*13*/
@import 'zest-admin/_members';
/*14*/
@import 'zest-admin/_code';
/*15*/
@import 'zest-admin/_breadcrumbs';
/*16*/
@import 'zest-admin/_pagination';
/*17*/
@import 'zest-admin/_badges';
/*18*/
@import 'zest-admin/_uigrid';
/*19*/
@import 'zest-admin/_cards';
/*20*/
@import 'zest-admin/_sections';
/*21*/
@import 'zest-admin/_buttons';
/*22*/
@import 'zest-admin/_modals';
/*23*/
@import 'zest-admin/_listgroup';
/*24*/
@import 'zest-admin/_alertnotifications';
/*25*/
@import 'zest-admin/_login';
/*26*/
@import 'zest-admin/_tabs';
/*27*/
@import 'zest-admin/_formelements';
/*28*/
@import 'zest-admin/_formcomponents';
/*29*/
@import 'zest-admin/_formeditors';
/*30*/
@import 'zest-admin/_mailbox';
/*31*/
@import 'zest-admin/_widgets';
/*32*/
@import 'zest-admin/_autosuggest';
/*33*/
@import 'zest-admin/_blogs';
/*34*/
@import 'zest-admin/_gallery';
/*35*/
@import 'zest-admin/_invoice';
/*36*/
@import 'zest-admin/_errorpages';
/*37*/
@import 'zest-admin/_lockscreen';
/*38*/
@import 'zest-admin/_carousel';
/*39*/
@import 'zest-admin/_dashboard';
/*40*/
@import 'zest-admin/_notification-widget';
/*41*/
@import 'zest-admin/_navigationbar';
/*42*/
@import 'zest-admin/_searchpage';
/*43*/
@import 'zest-admin/_profilepage';
/*44*/
@import 'zest-admin/_tables';
/*45*/
@import 'zest-admin/_jumbotron';

p.link {
  color: dodgerblue;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
